<!-- views/partials/footer.ejs -->

<h4 class="text-center">Leonel Medel Ilhuicatzi et Daniel Jean</h4>

<p class="text-center"> Projet Node js avec News API </p>

<a href="https://newsapi.org/"><p class="text-center text-dark">Page News API</p></a>